<app-header></app-header>
<article id="nosotros">
	<section class="paralax" data-direction="down" data-speed="0.6">
		<h1 class="display-3 paralax-title" data-direction="up" data-speed="0.25">Filiales</h1>

	</section>
	<div class="d-flex justify-content-center">
		<div id="scrollDown" class="animated swing infinite">
			<a class="smooth" href="#main-content"><img src="assets/img/iconos/arrow-207-48-wine.png" alt="Scroll Down"></a>
		</div>
	</div>
	<section id="main-content" class="content">
		<div class="container aniview slow" data-av-animation="zoomIn">
			<div class="hgroup mb-4">
				<div class="hgroup-inner"> 
					<h3 class="display-4 drawer-title">Ubica Nuestras Filiales</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 mb-3">
					<div class="contact-box center-version">
						<a href="/contacto">
							<img src="assets/img/instalaciones/img_22_instalaciones_funeraria_garciduenas.jpg" class="img-fluid mb-3" alt="Responsive image">
							
							<h2 class="m-b-xs"><strong>MATRIZ</strong></h2>
							<address class="m-t-md">
								<strong>Servicios Funerarios Garcidueñas S.C.</strong><br>
								Av. Cazadora 514, Col. Herradura<br>
								C.P. 36760, Salamanca, Gto.<br>
								<abbr title="Phone"><i class="fas fa-phone-square-alt"></i></abbr> 01 (464) 647 6642 <br>
								<abbr title="Cel"><i class="fas fa-mobile-alt"></i></abbr> (044) 464 102 0828
							</address>

						</a>
						<div class="contact-box-footer mt-3">
							<div class="m-t-xs btn-group">
								<a href="tel:464 647 6642" class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Llamar </a>
								<a href="mailto:crematorio.2017@gmail.com" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
							</div>
						</div>

						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.4704807467665!2d-101.2140713856536!3d20.568835586249293!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842c85a696df1805%3A0xbfc0424acd1fac1f!2sAv.%20Cazadora%20514%2C%20Centro%2C%2036720%20Salamanca%2C%20Gto.!5e0!3m2!1ses-419!2smx!4v1568312624919!5m2!1ses-419!2smx" allowfullscreen></iframe>
						</div>
					</div>	
				</div>

				<div class="col-md-6">
					<div class="contact-box center-version">
						<a href="/contacto">
							<img src="assets/img/filiales/img2_filial_loma_san_antonio.jpg" class="img-fluid mb-3" style="width: 100%" alt="Responsive image">
							<h2 class="m-b-xs"><strong>SUCURSAL</strong></h2>
							<address class="m-t-md">
								<strong>Servicios Funerarios Garcidueñas S.C.</strong><br>
								Calle 5 de mayo #2b, Loma de San Antonio<br>
								Salamanca, Gto.<br>
								<abbr title="Phone"><i class="fas fa-phone-square-alt"></i></abbr> 01 (464) 647 6642 <br>
								<abbr title="Cel"><i class="fas fa-mobile-alt"></i></abbr> (044) 464 102 0828
							</address>

						</a>
						<div class="contact-box-footer mt-3">
							<div class="m-t-xs btn-group">
								<a href="tel:464 647 6642" class="btn btn-xs btn-white"><i class="fa fa-phone"></i> Llamar </a>
								<a href="mailto:crematorio.2017@gmail.com" class="btn btn-xs btn-white"><i class="fa fa-envelope"></i> Email</a>
							</div>
						</div>

						<div class="embed-responsive embed-responsive-16by9">
							<iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3735.4297764201096!2d-101.2932877856536!3d20.570499286248385!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x842c86519dda30cb%3A0x79bfc11be2e154eb!2sCalle%205%20de%20Mayo%202%2C%20Los%20Prietos%2C%20Gto.!5e0!3m2!1ses-419!2smx!4v1568313129668!5m2!1ses-419!2smx" allowfullscreen></iframe>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</section>
</article>
<app-footer></app-footer>