<header id="header" class="fixed-top">
  <!-- NAV SECONDARY -->
  <nav class="nav-secondary nav-secondary-invisible">
    <div class="row">

      <div class="col-sm-12 col-md-4 col-lg-4 text-center quick-links mt-2">
        <a href="https://goo.gl/maps/QnxY1xRis8Cr8GyX9" target="_blank" class="direccion-header"><i
            class="fas fa-map-marked-alt"></i> <small class="text-monospace"> Ubicación</small></a>
      </div>


      <div class="col-sm-12 col-md-4 col-lg-4 text-center">
        <a href="tel:464 647 6642" class="btn btn-emergencia btn-block btn-sm"><img
            src="assets/img/iconos/phone-62-48-white.png" class="img-phone"> Emergencia Funeraria</a>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 text-center quick-links mt-2">
        <a href="mailto:crematorio.2017@gmail.com" class="direccion-header"><i class="far fa-envelope"></i> <small
            class="text-monospace"> crematorio.2017@gmail.com</small></a>
      </div>
    </div>
  </nav>
  <!-- FIN NAV SECONDARY -->

  <!-- NAV SECONDARY RESPONSIVE -->
  <nav class="nav-secondary nav-secondary-responsive-invisible">
    <div class="row">

      <div class="col text-center quick-links mt-1">
        <a target="_blank" href="https://goo.gl/maps/juWEgqsKFG2Nufcp7" class="direccion-header"><i
            class="fas fa-map-marked-alt fa-2x"></i></a>
      </div>


      <div class="col text-center">
        <a href="tel:464 647 6642" class="btn btn-emergencia btn-block btn-sm"><img
            src="assets/img/iconos/phone-62-48-white.png" class="img-phone"></a>
      </div>

      <div class="col text-center quick-links mt-1">
        <a href="mailto:crematorio.2017@gmail.com" class="direccion-header"><i class="far fa-envelope fa-2x"></i></a>
      </div>
    </div>
  </nav>
  <!-- FIN NAV SECONDARY RESPONSIVE -->

  <!-- NAV PRINCIPAL -->
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="/">
      <img src="assets/img/logo_blanco_funeraria_garciduenas.png" alt="Funeraria Garcidueñas"
        title="Funeraria Garcidueñas">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/nosotros">Nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/servicios">Servicios</a>
        </li>
        <!--
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Servicios
         </a>
         <div class="dropdown-menu" aria-labelledby="navbarDropdown">
           <a class="dropdown-item" href="#">Action</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Another action</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" href="#">Something else here</a>
         </div>
       </li>
     -->
        <li class="nav-item">
          <a class="nav-link" href="/filiales">Filiales</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/instalaciones">Instalaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
  <!-- FIN NAV PRINCIPAL -->
</header>