<!-- Footer -->
<section id="footer">
    <div class="container">
        <div class="row text-center text-xs-center text-sm-center text-md-left">
            <div class="col-xs-12 col-sm-8 col-md-4 offset-sm-2 offset-md-0">
                <h5 class="font-weight-bold">Funeraria Garcidueñas</h5>
                <ul class="list-unstyled quick-links">
                    <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
                    <li><a href="/nosotros"><i class="fa fa-angle-double-right"></i>Nosotros</a></li>
                    <li><a href="/servicios"><i class="fa fa-angle-double-right"></i>Servicios</a></li>
                    <li><a href="/filiales"><i class="fa fa-angle-double-right"></i>Filiales</a></li>
                    <li><a href="/instalaciones"><i class="fa fa-angle-double-right"></i>Instalaciones</a></li>
                    <li><a href="/contacto"><i class="fa fa-angle-double-right"></i>Contacto</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-4 offset-sm-2 offset-md-0 mb-4">
                <h5 class="font-weight-bold">Suscriptores</h5>
                <div class="text-white">
                    <h6>Reciba promociones, ofertas y noticias, suscríbase a nuestro Newsletter</h6>
                    <!-- Button trigger modal suscriptores -->
                    <button type="button" class="btn btn-suscripcion btn-block mt-4" data-toggle="modal"
                        data-target="#suscripcionModal">
                        Suscribirse
                    </button>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-4 offset-sm-2 offset-md-0">
                <h5 class="font-weight-bold">Encuéntranos</h5>
                <div class="footer-address">
                    <p>
                        <small><i class="fa fa-home fa-2x mr-3"></i> Av. Cazadora 514, Col. Herradura, C.P. 36760,
                            Salamanca, Gto.</small>
                    </p>
                </div>
                <div class="footer-address">
                    <p>
                        <small><i class="fa fa-phone fa-2x mr-3"></i>01 (464) 647 6642</small>
                    </p>
                </div>
                <div class="footer-address">
                    <p>
                        <small><i class="fa fa-mobile fa-2x mr-4"></i>(044) 464 102 0828</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
                <ul class="list-unstyled list-inline social text-center">
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-facebook"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    <li class="list-inline-item"><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
                <p>© <strong id="fecha"></strong> All Rights Reserved - <u><a href="/">Funeraria Garcidueñas</a></u>
                </p>
                <p class="h6">
                    <!--<a class="text-green ml-2" href="http://webdesignjr.260mb.net/" target="_blank">Created By - José Razo Prieto</a> -->
                    <u><a href="#">Aviso de
                            Privacidad</a></u></p>
            </div>
            <hr>
        </div>
    </div>
</section>
<!-- ./Footer -->
<!-- Modal Suscriptores -->
<div class="modal fade" id="suscripcionModal" tabindex="-1" role="dialog" aria-labelledby="suscripcionModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Suscriptores</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-4by3">
                    <iframe class="embed-responsive-item"
                        src="http://www.funeraria-garciduenas.com/assets/suscripcion/" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>