<div class="container mt-5">
  <h1 class="display-4 text-center h1-responsive aniview slow" data-av-animation="pulse">Nuestras Instalaciones</h1>

  <!-- GALERIA DE IMAGENES-->
  <!--Imagenes funeraria garcidueñas-->
  <div class="row my-5">
    <div class="col-sm-4 mb-3 d-flex justify-content-center">
      <!-- colored -->
      <div class="ih-item circle colored effect1 aniview slow" data-av-animation="rotateInDownRight"><a
          href="assets/img/instalaciones/img_17_instalaciones_funeraria_garciduenas.jpg" data-lightbox="roadtrip">
          <div class="spinner"></div>
          <div class="img"><img src="assets/img/instalaciones/img_17_instalaciones_funeraria_garciduenas.jpg" alt="Instalaciones Funeraria Garcidueñas"></div>
          <div class="info">
            <div class="info-back">
                <h3>Funeraria Garcidueñas</h3>
                <p>Instalaciones</p>
            </div>
        </div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center">
      <!-- colored -->
      <div class="ih-item circle colored effect1 aniview slow" data-av-animation="rotateInDownRight"><a
          href="assets/img/instalaciones/img_20_instalaciones_funeraria_garciduenas.jpg" data-lightbox="roadtrip">
          <div class="spinner"></div>
          <div class="img"><img src="assets/img/instalaciones/img_20_instalaciones_funeraria_garciduenas.jpg" alt="Instalaciones Funeraria Garcidueñas"></div>
          <div class="info">
            <div class="info-back">
                <h3>Funeraria Garcidueñas</h3>
                <p>Instalaciones</p>
            </div>
        </div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center">
      <!-- colored -->
      <div class="ih-item circle colored effect1 aniview slow" data-av-animation="rotateInDownRight"><a
          href="assets/img/instalaciones/img_16_instalaciones_funeraria_garciduenas.jpg" data-lightbox="roadtrip">
          <div class="spinner"></div>
          <div class="img"><img src="assets/img/instalaciones/img_16_instalaciones_funeraria_garciduenas.jpg" alt="Instalaciones Funeraria Garcidueñas"></div>
          <div class="info">
            <div class="info-back">
                <h3>Funeraria Garcidueñas</h3>
                <p>Instalaciones</p>
            </div>
        </div>
        </a></div>
      <!-- end colored -->
    </div>
  </div>

  <div class="row my-5">
    <div class="col-sm-4 mb-3 d-flex justify-content-center">
      <!-- colored -->
      <div class="ih-item circle colored effect1 aniview slow" data-av-animation="rotateInDownRight"><a
          href="assets/img/carrozas/img_06_carroza_funeraria_garciduenas.jpg" data-lightbox="roadtrip">
          <div class="spinner"></div>
          <div class="img"><img src="assets/img/carrozas/img_06_carroza_funeraria_garciduenas.jpg" alt="Carroza Funeraria Garcidueñas"></div>
          <div class="info">
            <div class="info-back">
                <h3>Funeraria Garcidueñas</h3>
                <p>Instalaciones</p>
            </div>
        </div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center">
      <!-- colored -->
      <div class="ih-item circle colored effect1 aniview slow" data-av-animation="rotateInDownRight"><a
          href="assets/img/carrozas/img_04_carroza_funeraria_garciduenas.jpg" data-lightbox="roadtrip">
          <div class="spinner"></div>
          <div class="img"><img src="assets/img/carrozas/img_04_carroza_funeraria_garciduenas.jpg" alt="Carroza Funeraria Garcidueñas"></div>
          <div class="info">
            <div class="info-back">
                <h3>Funeraria Garcidueñas</h3>
                <p>Instalaciones</p>
            </div>
        </div>
        </a></div>
      <!-- end colored -->
    </div>

    <div class="col-sm-4 mb-3 d-flex justify-content-center">
      <!-- colored -->
      <div class="ih-item circle colored effect1 aniview slow" data-av-animation="rotateInDownRight"><a
          href="assets/img/ataudes/img_27_ataudes_funeraria_garciduenas.jpg" data-lightbox="roadtrip">
          <div class="spinner"></div>
          <div class="img"><img src="assets/img/ataudes/img_27_ataudes_funeraria_garciduenas.jpg" alt="Ataudes Funeria Garcidueñas"></div>
          <div class="info">
            <div class="info-back">
                <h3>Funeraria Garcidueñas</h3>
                <p>Instalaciones</p>
            </div>
        </div>
        </a></div>
      <!-- end colored -->
    </div>
  </div>
</div>