<app-header></app-header>
<article id="nosotros">
	<section class="paralax" data-direction="down" data-speed="0.6">
		<h1 class="display-3 paralax-title" data-direction="up" data-speed="0.25">Servicios</h1>

	</section>
	<div class="d-flex justify-content-center">
		<div id="scrollDown" class="animated swing infinite">
			<a class="smooth" href="#main-content"><img src="assets/img/iconos/arrow-207-48-wine.png" alt="Scroll Down"></a>
		</div>
	</div>

	<section id="main-content" class="content">
		<div class="container aniview slow" data-av-animation="fadeInUp">
			<div class="hgroup mb-4">
				<div class="hgroup-inner"> 
					<h3 class="display-4 drawer-title">Conoce Nuestros Servicios</h3>
				</div>
			</div>
			<div class="card-deck mb-3">
				<div class="card">
					<div class="card-header">SERVICIO BÁSICO 1</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Ataúd metálico</li>
							<li class="list-group-item">Levantamiento del finado</li>
							<li class="list-group-item">Embalsamacion</li>
							<li class="list-group-item">Equipo de velación</li>
							<li class="list-group-item">Velación en capilla o domicilio</li>
							<li class="list-group-item">Servicio de carroza</li>
							<li class="list-group-item">Asesoría en trámites</li>
							<li class="list-group-item">Cafetería Básica</li>
							<li class="list-group-item">30 sillas</li>
						</ul>
					</div>
				</div>
				<div class="card">
					<div class="card-header">SERVICIO BÁSICO 2</div>
					<div class="card-body">
						<ul class="list-group list-group-flush">
							<li class="list-group-item">Ataúd de madera liso</li>
							<li class="list-group-item">Levantamiento del finado</li>
							<li class="list-group-item">Embalsamacion</li>
							<li class="list-group-item">Equipo de velación</li>
							<li class="list-group-item">Velación en capilla o domicilio</li>
							<li class="list-group-item">Servicio de carroza</li>
							<li class="list-group-item">Asesoría en trámites</li>
							<li class="list-group-item">Cafetería Básica</li>
							<li class="list-group-item">30 sillas</li>
							<li class="list-group-item">Camión</li>
						</ul>
					</div>
				</div>
			</div>

			<div class="card-deck">
				<div class="card">
					<div class="card-header">SERVICIOS INTERMEDIOS Y PREMIUM</div>
					<img src="assets/img/carrozas/img_06_carroza_funeraria_garciduenas.jpg" class="card-img-top" alt="Carroza Funeraria Garcidueñas">
					<div class="card-body">
						<p class="card-text text-justify my-2">La información sobre los servicios intermedios y premium solo puede ser proporcionada acudiendo a las instalaciones de funeraria garcidueñas o contactándonos mediante correo electrónico o llamada telefónica.</p>
					</div>
					<div class="card-footer">
						<a href="/contacto" class="btn btn-new btn-block"><i class="far fa-envelope"></i> CONTÁCTENOS</a>
					</div>
				</div>
				<div class="card">
					<div class="card-header">OTROS SERVICIOS</div>
					<div class="card-body">
						<h2>Servicios de Previsón</h2> 
						<div class="progress mb-3" style="height: 1px;">
							<div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<p>Proteja a su familia con nuestros servicios de previsión</p>
						<P>Previsión es Solucionar con anticipación un acontecimiento que tarde o temprano tendremos que afrontar. Nuestros planes de previsión están diseñados para aliviar esos momentos en los cuales no sabemos como actuar.</P>

						<h2>Servicio Profesional de Embalsamamiento</h2> 
						<div class="progress mb-3" style="height: 1px;">
							<div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<p>Este procedimiento se realiza dentro de nuestras instalaciones por personal certificado de Funeraria Garcidueñas.</p>
						<img src="assets/img/iconos/embalsamiento.png" alt="Servicio Profesional de Embalsamamiento" class="img-fluid rounded mx-auto d-block" style="width: 140px">
					</div>
					<div class="card-footer">
						<a href="/contacto" class="btn btn-new btn-block"><i class="far fa-envelope"></i> CONTÁCTENOS</a>
					</div>
				</div>
			</div>
			
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="alert alert-danger mt-4" role="alert">
						<h4 class="alert-heading">NOTA IMPORTANTE: </h4>
						<p> <i class="fas fa-check"></i> En caso de NO CONTAR con CERTIFICADO MEDICO este tiene un costo extra. </p>
						<hr>
						<p> <i class="fas fa-check"></i> El costo de la Embalsamacion puede VARIAR dependiendo del tipo de muerte de la persona.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</article>
<app-footer></app-footer>