<app-header></app-header>
<article id="nosotros">
  <section class="paralax" data-direction="down" data-speed="0.6">
    <h1 class="display-3 paralax-title" data-direction="up" data-speed="0.25">Nosotros</h1>
  </section>
  <div class="d-flex justify-content-center">
    <div id="scrollDown" class="animated swing infinite">
      <a class="smooth" href="#main-content"><img src="assets/img/iconos/arrow-207-48-wine.png" alt="Scroll Down"></a>
    </div>
  </div>

  <section id="main-content" class="content">
    <div class="container aniview slow" data-av-animation="rotateInDownLeft">
      <div class="hgroup mb-4">
        <div class="hgroup-inner"> 
          <h3 class="display-4 drawer-title">Nuestra Filosofía</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>Misión</h2> 
          <div class="progress" style="height: 1px;">
            <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Brindar el mejor servicio funerario donde el respeto, profesionalismo, excelencia y sensibilidad humana sea nuestro principal compromiso y nuestra manera de trabajo por la sociedad.</p>

          <h2>Visión</h2> 
          <div class="progress" style="height: 1px;">
            <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <p>Ser para la comunidad una empresa que sea sinónimo de calidad en sus servicios funerarios, adecuado a las necesidades del cliente, convirtiéndose en el mejor aliado en esos momentos difíciles de la vida .</p>

          <h2>Valores</h2>
          <div class="progress" style="height: 1px;">
            <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <ul class="list-unstyled">
            <li><i class="fas fa-check-circle"></i> Ética</li>
            <li><i class="fas fa-check-circle"></i> Respeto</li>
            <li><i class="fas fa-check-circle"></i> Estrategia</li>
            <li><i class="fas fa-check-circle"></i> Honestidad</li>
            <li><i class="fas fa-check-circle"></i> Integridad</li>
            <li><i class="fas fa-check-circle"></i> Innovación</li>
            <li><i class="fas fa-check-circle"></i> Solidaridad</li>
            <li><i class="fas fa-check-circle"></i> Comprensión</li>
            <li><i class="fas fa-check-circle"></i> Espíritu de equipo</li>
            <li><i class="fas fa-check-circle"></i> Calidad</li>
            <li><i class="fas fa-check-circle"></i> Excelencia</li>
            <li><i class="fas fa-check-circle"></i> Diálogo</li>
            <li><i class="fas fa-check-circle"></i> Cohesión</li>
            <li><i class="fas fa-check-circle"></i> Responsabilidad social</li>
          </ul>
        </div>
        <div class="col-md-6">
          <img src="assets/img/instalaciones/img_19_instalaciones_funeraria_garciduenas.jpg" class="img-fluid mt-4" alt="Carroza funeraria garcidueñas" title="Carroza servicios funerarios garcidueñas">
        </div>
      </div>
    </div>
  </section>
</article>
<app-footer></app-footer>