<app-header></app-header>
<article id="nosotros">
  <section class="paralax" data-direction="down" data-speed="0.6">
    <h1 class="display-3 paralax-title" data-direction="up" data-speed="0.25">Instalaciones</h1>

  </section>
  <div class="d-flex justify-content-center">
    <div id="scrollDown" class="animated swing infinite">
      <a class="smooth" href="#main-content"><img src="assets/img/iconos/arrow-207-48-wine.png"
          alt="Scroll Down"></a>
    </div>
  </div>

  <section id="main-content" class="content">
    <div class="container">
      <div class="hgroup mb-4">
        <div class="hgroup-inner">
          <h3 class="display-4 drawer-title">Galería de Imágenes</h3>
        </div>
      </div>
      <!-- GALERIA DE IMAGENES INSTALACIONES-->
      <!--Imagenes funeraria garcidueñas-->
      <div class="row">
        <div class="col-sm-4 mb-3 d-flex justify-content-center">
          <!-- colored -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight">
              <a href="assets/img/instalaciones/img_22_instalaciones_funeraria_garciduenas.jpg'"
                data-lightbox="roadtrip">
                <div class="img"><img
                    src="assets/img/instalaciones/img_22_instalaciones_funeraria_garciduenas.jpg" alt="img">
                </div>
                <div class="info">
                  <h3>Funeraria Garcidueñas</h3>
                  <p>Instalaciones</p>
                </div>
              </a></div>
          <!-- end colored -->
        </div>

        <div class="col-sm-4 mb-3 d-flex justify-content-center">
          <!-- normal -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight"><a
              href="assets/img/instalaciones/img_23_instalaciones_funeraria_garciduenas.jpg"
              data-lightbox="roadtrip">
              <div class="img"><img
                  src="assets/img/instalaciones/img_23_instalaciones_funeraria_garciduenas.jpg" alt="img"></div>
              <div class="info">
                <h3>Funeraria Garcidueñas</h3>
                <p>Instalaciones</p>
              </div>
            </a></div>
          <!-- end normal -->
        </div>

        <div class="col-sm-4 d-flex mb-3 justify-content-center">
          <!-- normal -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight"><a
              href="assets/img/instalaciones/img_17_instalaciones_funeraria_garciduenas.jpg"
              data-lightbox="roadtrip">
              <div class="img"><img
                  src="assets/img/instalaciones/img_17_instalaciones_funeraria_garciduenas.jpg" alt="img"></div>
              <div class="info">
                <h3>Funeraria Garcidueñas</h3>
                <p>Instalaciones</p>
              </div>
            </a></div>
          <!-- end normal -->
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 mb-3 d-flex justify-content-center">
          <!-- colored -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight">
              <a href="assets/img/instalaciones/img_12_instalaciones_funeraria_garciduenas.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img
                    src="assets/img/instalaciones/img_12_instalaciones_funeraria_garciduenas.jpg" alt="img">
                </div>
                <div class="info">
                  <h3>Funeraria Garcidueñas</h3>
                  <p>Instalaciones</p>
                </div>
              </a></div>
          <!-- end colored -->
        </div>

        <div class="col-sm-4 mb-3 d-flex justify-content-center">
          <!-- normal -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight"><a
              href="assets/img/instalaciones/img_18_instalaciones_funeraria_garciduenas.jpg"
              data-lightbox="roadtrip">
              <div class="img"><img
                  src="assets/img/instalaciones/img_18_instalaciones_funeraria_garciduenas.jpg" alt="img"></div>
              <div class="info">
                <h3>Funeraria Garcidueñas</h3>
                <p>Instalaciones</p>
              </div>
            </a></div>
          <!-- end normal -->
        </div>

        <div class="col-sm-4 d-flex mb-3 justify-content-center">
          <!-- normal -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight"><a
              href="assets/img/instalaciones/img_21_instalaciones_funeraria_garciduenas.jpg"
              data-lightbox="roadtrip">
              <div class="img"><img
                  src="assets/img/instalaciones/img_21_instalaciones_funeraria_garciduenas.jpg" alt="img"></div>
              <div class="info">
                <h3>Funeraria Garcidueñas</h3>
                <p>Instalaciones</p>
              </div>
            </a></div>
          <!-- end normal -->
        </div>
      </div>
      <!--FIN GALERIA DE IMAGENES INSTALACIONES -->

      <!-- GALERIA DE IMAGENES CARROZAS-->
      <!--Imagenes funeraria garcidueñas-->
      <div class="row">
        <div class="col-sm-4 mb-3 d-flex justify-content-center">
          <!-- colored -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight">
              <a href="assets/img/slider-principal/img_02_carroza_funeraria_garciduenas.jpg"
                data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/slider-principal/img_02_carroza_funeraria_garciduenas.jpg"
                    alt="img">
                </div>
                <div class="info">
                  <h3>Funeraria Garcidueñas</h3>
                  <p>Carroza Fúnebre</p>
                </div>
              </a></div>
          <!-- end colored -->
        </div>

        <div class="col-sm-4 mb-3 d-flex justify-content-center">
          <!-- normal -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight"><a
              href="assets/img/carrozas/img_08_carroza_funeraria_garciduenas.jpg" data-lightbox="roadtrip">
              <div class="img"><img src="assets/img/carrozas/img_08_carroza_funeraria_garciduenas.jpg"
                  alt="img"></div>
              <div class="info">
                <h3>Funeraria Garcidueñas</h3>
                <p>Carroza Fúnebre</p>
              </div>
            </a></div>
          <!-- end normal -->
        </div>

        <div class="col-sm-4 d-flex mb-3 justify-content-center">
          <!-- normal -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight"><a
              href="assets/img/carrozas/img_06_carroza_funeraria_garciduenas.jpg" data-lightbox="roadtrip">
              <div class="img" style="height: 100%"><img
                  src="assets/img/carrozas/img_06_carroza_funeraria_garciduenas.jpg" alt="img"></div>
              <div class="info">
                <h3>Funeraria Garcidueñas</h3>
                <p>Carroza Fúnebre</p>
              </div>
            </a></div>
          <!-- end normal -->
        </div>
      </div>
      <!--FIN GALERIA DE IMAGENES CARROZAS -->


      <!-- GALERIA DE IMAGENES ATAUDES-->
      <!--Imagenes funeraria garcidueñas-->
      <div class="row">
        <div class="col-sm-4 mb-3 d-flex justify-content-center">
          <!-- colored -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight">
              <a href="assets/img/ataudes/img_26_ataudes_funeraria_garciduenas.jpg" data-lightbox="roadtrip">
                <div class="img"><img src="assets/img/ataudes/img_26_ataudes_funeraria_garciduenas.jpg"
                    alt="img">
                </div>
                <div class="info">
                  <h3>Funeraria Garcidueñas</h3>
                  <p>Ataúdes</p>
                </div>
              </a></div>
          <!-- end colored -->
        </div>

        <div class="col-sm-4 mb-3 d-flex justify-content-center">
          <!-- normal -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight"><a
              href="assets/img/ataudes/img_27_ataudes_funeraria_garciduenas.jpg" data-lightbox="roadtrip">
              <div class="img"><img src="assets/img/ataudes/img_27_ataudes_funeraria_garciduenas.jpg" alt="img">
              </div>
              <div class="info">
                <h3>Funeraria Garcidueñas</h3>
                <p>Ataúdes</p>
              </div>
            </a></div>
          <!-- end normal -->
        </div>

        <div class="col-sm-4 d-flex mb-3 justify-content-center">
          <!-- normal -->
          <div class="ih-item square effect3 bottom_to_top aniview slow" data-av-animation="rotateInDownRight"><a
              href="assets/img/ataudes/img_31_ataudes_funeraria_garciduenas.jpg" data-lightbox="roadtrip">
              <div class="img" style="height: 100%"><img
                  src="assets/img/ataudes/img_31_ataudes_funeraria_garciduenas.jpg" alt="img"></div>
              <div class="info">
                <h3>Funeraria Garcidueñas</h3>
                <p>Ataúdes</p>
              </div>
            </a></div>
          <!-- end normal -->
        </div>
      </div>
      <!--FIN GALERIA DE IMAGENES ATAUDES -->
    </div>
  </section>
</article>
<app-footer></app-footer>