<div class="container my-5 aniview slow" data-av-animation="lightSpeedIn">
  <h1 class="display-4 text-center h1-responsive">Nuestros Servicios</h1>
  <div class="card-deck mb-3 aniview slow" data-av-animation="lightSpeedIn">
    <div class="card">
      <div class="card-header">SERVICIO BÁSICO 1</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ataúd metálico</li>
          <li class="list-group-item">Levantamiento del finado</li>
          <li class="list-group-item">Embalsamacion</li>
          <li class="list-group-item">Equipo de velación</li>
          <li class="list-group-item">Velación en capilla o domicilio</li>
          <li class="list-group-item">Servicio de carroza</li>
          <li class="list-group-item">Asesoría en trámites</li>
          <li class="list-group-item">Cafetería Básica</li>
          <li class="list-group-item">30 sillas</li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="/servicios" class="btn btn-new btn-block"><i class="fas fa-plus"></i> INFO</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">SERVICIO BÁSICO 2</div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Ataúd de madera liso</li>
          <li class="list-group-item">Levantamiento del finado</li>
          <li class="list-group-item">Embalsamacion</li>
          <li class="list-group-item">Equipo de velación</li>
          <li class="list-group-item">Velación en capilla o domicilio</li>
          <li class="list-group-item">Servicio de carroza</li>
          <li class="list-group-item">Asesoría en trámites</li>
          <li class="list-group-item">Cafetería Básica</li>
          <li class="list-group-item">30 sillas</li>
          <li class="list-group-item">Camión</li>
        </ul>
      </div>
      <div class="card-footer">
        <a href="/servicios" class="btn btn-new btn-block"><i class="fas fa-plus"></i> INFO</a>
      </div>
    </div>
  </div>

  <div class="card-deck aniview slow" data-av-animation="lightSpeedIn">
    <div class="card">
      <div class="card-header">SERVICIOS INTERMEDIOS Y PREMIUM</div>
      <img src="assets/img/carrozas/img_06_carroza_funeraria_garciduenas.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text text-justify my-2">La información sobre los servicios intermedios y premium solo puede ser proporcionada acudiendo a las instalaciones de funeraria garcidueñas o contactándonos mediante correo electrónico o llamada telefónica.</p>
      </div>
      <div class="card-footer">
        <a href="/contacto" class="btn btn-new btn-block"><i class="far fa-envelope"></i> CONTÁCTENOS</a>
      </div>
    </div>
    <div class="card">
      <div class="card-header">OTROS SERVICIOS</div>
      <div class="card-body">
        <h2>Servicios de Previsón</h2> 
        <div class="progress mb-3" style="height: 1px;">
          <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>Proteja a su familia con nuestros servicios de previsión</p>
        <P>Previsión es Solucionar con anticipación un acontecimiento que tarde o temprano tendremos que afrontar. Nuestros planes de previsión están diseñados para aliviar esos momentos en los cuales no sabemos como actuar.</P>

        <h2>Servicio Profesional de Embalsamamiento</h2> 
        <div class="progress mb-3" style="height: 1px;">
          <div class="progress-bar" role="progressbar" style="width: 15%;" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p>Este procedimiento se realiza dentro de nuestras instalaciones por personal certificado de Funeraria Garcidueñas.</p>
        <img src="assets/img/iconos/embalsamiento.png" alt="Servicio Profesional de Embalsamamiento" class="img-fluid rounded mx-auto d-block" style="width: 140px">
      </div>
      <div class="card-footer">
        <a href="/contacto" class="btn btn-new btn-block"><i class="far fa-envelope"></i> CONTÁCTENOS</a>
      </div>
    </div>
  </div>
</div>